.top {
    background-color: blueviolet;
    margin-top: 25px;
    height: 50px;
}

.bottom {
    background-color: purple;
    height: 25px;

}

.external {
    background-color: bisque;
    padding: 10px;
}

.inside {
    background-color: coral ;
    height: 25px;
}

.zacent {
    background-color: blanchedalmond;
}
 
.center {
    width: 400px;
    height: 40px;
    margin: auto;
    background-color: salmon;
}